numpy==1.24.3
pandas==2.1.1
pvlib==0.9.5
pyyaml==6.0
beautifulsoup4==4.12.2
voluptuous==0.13.1
flask==2.3.2
flask-restx==1.1.0
waitress==2.1.2
matplotlib==3.7.1
bandit[toml]==1.7.5
black==23.3.0
check-manifest==0.49
flake8-bugbear==23.5.9
flake8-docstrings
flake8-formatter_junit_xml
flake8
flake8-pyproject
pre-commit==3.3.1
pylint==2.17.4
pylint_junit
pytest-cov==4.0.0
pytest-mock<3.10.1
pytest-runner
pytest==7.3.1
pytest-github-actions-annotate-failures
pytest-xdist==3.3.1
shellcheck-py==0.9.0.2
mock==5.0.2
responses==0.23.1